@keyframes activeLetter{
    0% {
        box-shadow: 0px 0px 10px 5px $color2;
        background: $color2;
    }
    50%{
        box-shadow: 0px 0px 0px 0px $color2;
        background: $color1;
    }
    100% {
        box-shadow: 0px 0px 10px 5px $color2;
        background: $color2;
    }
}